<script type="text/javascript">
function fixSvaras() {
  var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;

  var isChrome = !!window.chrome;


  if (isChrome) {
    document.body.innerHTML = document.body.innerHTML.replace(/anudatta/g, '');
    document.body.innerHTML = document.body.innerHTML.replace(/॑॑/g, '᳚');
    document.body.innerHTML = document.body.innerHTML.replace(/॑ः/g, 'ः॑');

    document.body.innerHTML = document.body.innerHTML.replace(/([^ः])॑/g, '$1<span class="shift-accents-up">॑</span>');
    document.body.innerHTML = document.body.innerHTML.replace(/([^ः])᳚/g, '$1<span class="shift-accents-up">᳚</span>');
    document.body.innerHTML = document.body.innerHTML.replace(/॒/g, '<span class="shift-accents-down">॒</span>');
  }
};
</script>

<script type="text/javascript">
    fixSvaras();
</script>
