---
---

@import "minima";

*[lang="sa"] {
font-family:  'Siddhanta-cakravat1',  serif  !important;
font-size: 120%;
line-height:2.25;
font-weight:normal;
font-style:normal;
}

.eng-vidhi {
    font-size: 80%;
    line-height: 1.5;
    font-family: arial;
    font-weight: normal;
}
